# Node and Python
node_modules/
venv/
.env
.DS_Store

# VS Code
.vscode/

# OS files
Thumbs.db

# Logs
logs/
*.log

# Build outputs
dist/
build/

# Secrets and keys
*.key
*.pem

# Media edits (ignore large working files if needed)
media/images/*.psd
media/audio/*.zip
